html {
    scroll-behavior: smooth;
    width: 100%;
    scroll-padding-top: 10vh;
}

.white-mode{
    background-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    width: 100%;
    margin: 0;
    z-index: -1;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(7, 46, 54, 1) 100%);
}


.landing-page {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(7, 46, 54, 1) 100%);
    height: 100vh;
}

header div {
    margin-top: 5vh;
    font-size: 2.5rem;
    color: ghostwhite;
    align-items: center;
}


nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(42, 42, 42);
    height: 10vh;
    border: 1px solid black;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

nav a:hover {
    color: #21aec8;
    box-shadow: 3px 3px 5px black;
}

.rotate270 {
    transform: rotate(270deg);
}

.aboutme, .projecten, .contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.glitch-container {
    text-align: center;
}

.glitch {
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
        -0.04em -0.025em 0 #fffc00;
    }
}

.textcontainer {
    margin: 10vh auto 0;
    width: 90%;
    height: 80vh;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 3px 3px 5px black;
    background: #636363;
    color: black;
}

.bgvideo {
    width: 85vh;
    max-height: 48vh;
    border: 3px solid black;
    border-radius: 3vh;
}

.bgflag {
    width: 25px;
}

.aboutmepage {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*if you are reading this you are bald*/

.aboutmepage p {
    font-size: 1.2rem;
}

.interview {
    margin: 0;
    width: 600px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 25px;
    border: 3px solid black;
}

.interview p {
    font-size: 10px;
}

.interview h1, h2 {
    font-size: 14px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

.info {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infopage {
    display: flex;
}

.proficiency-table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
}

.table-header {
    background-color: #005959;
    padding: 10px;
    border: 1px solid black;
}

.table-data {
    background-color: lightgray;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

.project{
    border: 5px solid black;
    border-radius: 25px;
    font-size: 25px;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    width: 30vh;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project p{
    margin: 10px;
    padding: 0;
}

.project h2 {
    font-size: 1rem;
}

.projectcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 12vh;
}

.contactpage{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contactpage h1{
    font-size: 1.2rem;
    padding: 10px;
}

.contactpage img{
    width: 3vw;
}

.contactpage a{
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
}